#Режим окружения production/development/testing
ENV_MODE=development
APP_ENV=dev
APP_DEBUG=1
#Регистр
INDEX_NAME=ATLAS

# Имя проекта для docker compose
DOCKER_PROJECT=atlas
# Хранилище контейнеров
DOCKER_REGISTRY=localhost
# Версия контейнеров
DOCKER_IMAGE_VERSION=latest
#Имя образа для php-fpm
DOCKER_PHP_IMAGE_NAME=atlas-php
